.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed; /* Fixes navbar at the top */
  top: 0;
  width: 100%;
  background-color: transparent; /* Start as transparent */
  color: white;
  z-index: 1000; /* Ensures the navbar is on top of other elements */
  transition: background-color 0.3s ease, padding 0.3s ease; /* Smooth transition */
}

.navbar.scrolled {
  background-color: black; /* Add a solid background on scroll */
  padding: 10px 20px; /* Reduce padding on scroll */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 80px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.navbar-logo svg {
  width: 750px; /* For inline SVG, adjust width */
  height: 750px; /* Or adjust height directly if aspect ratio is not needed */
}
.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-links li {
  cursor: pointer;
}

.contact-btn {
  background-color: #f1c40f;
  color: #333;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #d4ac0d; /* Darker shade on hover */
}